* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Kanit', sans-serif;
}

body {
  margin: 0;
  background-color:#81B29A;
  align-items: center;
  text-align: center;
}

header {
  background-color: #F2CC8F;
}

main {
  min-height: 100vh;
}

footer {
  background-color: #F2CC8F;
}

h1 {
  color: white;
  font-size: 50px;
}

.containerStyle {
  text-align: center;
  padding: 40px;
}

.containerStyle2 {
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.buttonStyle {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
}

.iconImage {
  max-width: 200px;
  /*max-height: 200px;*/
}

.boxBorder {
  box-shadow: 5px 5px 10px black;
}

.navImage {
  max-height: 50px;
}

/* ----------------------------------------- */

/* Text */
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
  padding: 10px;
}
.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

/* ----------------------------------------- */

/* PRODUCTS */

.displayProduct {
  margin: 10px;
  padding: 0px;
  width: 15rem;
  height: 360px;
}

.productImage {
  height: 150px;
}

/* ----------------------------------------- */ 
.cart {
  min-width: 500px;
}

/* cart header */
.cart-header {  
  padding: 10px 0;
}

/* cart items */
.cart-items {
  max-height: calc(100vh - 247px);
  overflow-y: auto;
  overflow-x: hidden;
}

/* cart item */
.cart-item {
  padding: 10px 0;
}

.cart-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* item info */
.cart-item .item-info {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.6);

  border-radius: 0 10px 10px 0;

  padding: 10px;
}
.cart-item .item-info:hover {
  background-color: rgba(255, 0, 0, 0.6);
  cursor: pointer;
}
.cart-item .item-info img {
  width: 75px;
}
/* unit price */
.cart-item .unit-price {
  flex: 1;
  font-size: 1.5rem;
}

.column1 {
  font-size: 1.3rem;
}
/*
.cart-footer {
  min-width: max-content;
  position: absolute;
  bottom: 0;
}*/

.cart-footer div {
  align-items: center;
  padding: 15px 0;
  font-size: 1.3rem;
  width: 100%;
}

.cart-footer .subtotal {
  background-color: white;
}

.cart-footer .checkout {
  background-color: #F2CC8F;

  cursor: pointer;
  
}